# EditorConfig 是一个用于维护跨编辑器和IDE一致编码风格的工具: https://editorconfig.org
# GitHub 项目地址: https://github.com/editorconfig/editorconfig

# 确定 .editorconfig 文件是否为项目根目录配置。设置为 true 时，停止在父目录查找 .editorconfig 文件。
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf # 设置行间分隔符为 LF (Unix/Linux 风格)
indent_style = space # 设置缩进风格为 space(空格) 或 tab(制表符)
indent_size = 2 # 设置每个缩进级别使用的空格数
tab_width = 2 # 如果 indent_style 为 tab，则指定制表符宽度
max_line_length = 99999 # 限制每行的最大字符数
insert_final_newline = false # 文件末尾是否插入一个新的空行
ij_formatter_on_tag = @formatter:on # IDEA 的代码格式化开关标签，在代码中写上 @formatter:on 可以临时启用自动格式化
ij_formatter_off_tag = @formatter:off # IDEA 的代码格式化开关标签，在代码中写上 @formatter:off 可以临时关闭自动格式化
ij_formatter_tags_enabled = true # 表示上面两个开关标签是启用的
ij_smart_tabs = false # 是否使用 smart tabs(混合制表符和空格)，一般建议保持 false
ij_visual_guides = # 配置竖线(代码视觉辅助线)，例如 80,120 表示在第 80 和 120 列画参考线。这里是空的，表示没有开启
ij_wrap_on_typing = false # 输入时是否触发自动换行

[*.xml]
indent_size = 4 # 设置每个缩进级别使用的空格数
tab_width = 4 # 如果 indent_style 为 tab，则指定制表符宽度
ij_continuation_indent_size = 4 # 多行换行时的缩进大小(例如参数换行时缩进 4 个空格)

[*.md]
ij_markdown_keep_indents_on_empty_lines = true # 保留空行的缩进(适合保持列表/引用对齐)。
ij_markdown_min_lines_around_header = 0 # 标题周围的最小空行数
ij_markdown_max_lines_around_header = unset # 标题周围的最大空行数
ij_markdown_min_lines_between_paragraphs = 0 # 段落间的最小空行数
ij_markdown_max_lines_between_paragraphs = unset # 段落间最大空行数
ij_markdown_min_lines_around_block_elements = 0 # 块级元素周围的最小空行数
ij_markdown_max_lines_around_block_elements = unset # 块级元素周围的最大空行数
ij_markdown_wrap_text_if_long = false # 不会在长行超过 max_line_length 时自动换行
ij_markdown_keep_line_breaks_inside_text_blocks = true # 保持文本块(如段落)里原有的手动换行
ij_markdown_tab_width = 4 # Tab 字符在 Markdown 文件中显示为 4 个空格
ij_markdown_insert_quote_arrows_on_wrap = true # 在 blockquote 中换行时，下一行会自动补 >
ij_markdown_wrap_text_inside_blockquotes = false # 在 blockquote 中的长行不会被自动软换行
ij_markdown_indent_size = 2 # Markdown 缩进宽度(列表 / 嵌套引用 / 代码块)
ij_markdown_continuation_indent_size = 0 # 段落换行后在列表项下的额外缩进(未设定 = 默认值)
ij_markdown_force_one_space_after_blockquote_symbol = true # > 引用符号后面是否强制有一个空格
ij_markdown_force_one_space_after_header_symbol = true # 标题 # 号后是否强制有一个空格
ij_markdown_force_one_space_after_list_bullet = true # 列表符号 - / * / 1. 后是否必须有一个空格
ij_markdown_force_one_space_between_words = false # 是否强制合并连续多个空格为一个空格
ij_markdown_format_tables = false # 是否自动格式化 Markdown 表格(对齐 | 列，调整空格)

[*.java]
indent_size = 4 # 设置每个缩进级别使用的空格数
tab_width = 4 # 如果 indent_style 为 tab，则指定制表符宽度
insert_final_newline = true # 文件末尾插入一个新的空行
trim_trailing_whitespace = true # 删除行尾多余的空格
ij_continuation_indent_size = 4 # 多行换行时的缩进大小(例如参数换行时缩进 4 个空格)
ij_java_tab_width = 4
ij_java_class_count_to_use_import_on_demand = 99 # 避免 import *(当同包下的类数量超过此值时使用 import *)
ij_java_blank_lines_between_import_groups = true # import 语句按包名分组
ij_java_indent_size = 4 # Java 代码的缩进宽度
ij_java_enum_field_annotation_wrap = on_every_item # 控制枚举常量上的注解换行行为
ij_java_generate_use_type_annotation_before_type = true # 控制生成代码时，类型注解(如 @NonNull)是否放在类型前
ij_java_new_line_when_body_is_presented = true # 方法或类有实现体时是否在大括号前另起新行
ij_java_switch_expressions_wrap = off # 控制 switch 表达式的换行
ij_java_wrap_semicolon_after_call_chain = false # 方法链调用末尾的分号是否另起一行
ij_java_spaces_inside_block_braces_when_body_is_present = false # 块体大括号内部是否添加空格
ij_java_continuation_indent_size = 4 # 一行代码太长被自动换行后，新行相对于上一行的缩进
ij_java_blank_lines_around_field_with_annotations = 1 # 带有注解的字段(field with annotations)前后是否保留空行
ij_java_align_consecutive_assignments = false # 连续赋值是否对齐
ij_java_align_consecutive_variable_declarations = false # 连续变量声明是否对齐
ij_java_align_group_field_declarations = false # 同一类中多个字段声明是否按等号或变量名对齐
ij_java_align_multiline_annotation_parameters = false # 多行情况注解是否对齐
ij_java_align_multiline_array_initializer_expression = false # 多行情况数组是否对齐
ij_java_align_multiline_assignment = false # 多行情况是否对齐
ij_java_align_multiline_binary_operation = false # 多行二元运算符是否对齐
ij_java_align_multiline_chained_methods = false # 多行链式调用是否对齐
ij_java_align_multiline_deconstruction_list_components = true # 解构列表组件是否对齐
ij_java_align_multiline_extends_list = false # 继承列表是否对齐
ij_java_align_multiline_for = true # for 循环语句是否对齐
ij_java_align_multiline_method_parentheses = false # 方法括号是否对齐
ij_java_align_multiline_parameters = true # 方法参数是否对齐
ij_java_align_multiline_parameters_in_calls = false # 调用时的方法参数是否对齐
ij_java_align_multiline_parenthesized_expression = false # 括号表达式是否对齐
ij_java_align_multiline_records = true # 记录类型是否对齐
ij_java_align_multiline_resources = false # 资源声明是否对齐
ij_java_align_multiline_ternary_operation = false # 三元运算符是否对齐
ij_java_align_multiline_text_blocks = false # 文本块是否对齐
ij_java_align_multiline_throws_list = false # throws 列表是否对齐
ij_java_align_subsequent_simple_methods = false # 简单方法是否对齐
ij_java_align_throws_keyword = false # throws 关键字是否对齐
ij_java_align_types_in_multi_catch = true # 多 catch 类型是否对齐
ij_java_annotation_parameter_wrap = normal # 注解参数换行策略
ij_java_array_initializer_wrap = normal # 数组初始化时元素列表的换行策略(当元素过多或超出右边界时)
ij_java_array_initializer_right_brace_on_new_line = false # 数组初始化右大括号是否另起一行
ij_java_array_initializer_new_line_after_left_brace = false # 数组初始化左大括号后是否换行
ij_java_assert_statement_colon_on_next_line = false # assert 语句冒号是否另起一行
ij_java_assert_statement_wrap = off # assert 语句换行策略
ij_java_assignment_wrap = off # 赋值语句超过右边界时的换行策略。
ij_java_binary_operation_sign_on_next_line = false # 二元运算符是否在下一行
ij_java_binary_operation_wrap = normal # 二元运算符换行策略
ij_java_blank_lines_after_anonymous_class_header = 0 # 匿名类头部后的空行数
ij_java_blank_lines_after_class_header = 0 # 类头部后的空行数
ij_java_blank_lines_after_imports = 1 # import 语句后的空行数
ij_java_blank_lines_after_package = 1 # package 声明后的空行数
ij_java_blank_lines_around_class = 1 # 类周围的空行数
ij_java_blank_lines_around_field = 0 # 字段周围的空行数
ij_java_blank_lines_around_field_in_interface = 0 # 接口中字段周围的空行数
ij_java_blank_lines_around_initializer = 1 # 初始化块周围的空行数
ij_java_blank_lines_around_method = 1 # 方法周围的空行数
ij_java_blank_lines_around_method_in_interface = 1 # 接口中方法周围的空行数
ij_java_blank_lines_before_class_end = 0 # 类结束前的空行数
ij_java_blank_lines_before_imports = 1 # import 语句前的空行数
ij_java_blank_lines_before_method_body = 0 # 方法体前的空行数
ij_java_blank_lines_before_package = 0 # package 声明前的空行数
ij_java_block_brace_style = end_of_line # 块的大括号风格(end_of_line: 行尾, next_line: 下一行)
ij_java_block_comment_add_space = true # 在块注释(/* ... */)与内容之间自动添加一个空格
ij_java_block_comment_at_first_column = true # 控制块注释是否顶格(列 0)开始
ij_java_builder_methods = # 构建器方法配置
ij_java_call_parameters_new_line_after_left_paren = false # 控制方法调用参数列表左括号 ( 后是否换行
ij_java_call_parameters_right_paren_on_new_line = false # 控制方法调用参数列表右括号 ) 前是否换行
ij_java_call_parameters_wrap = normal # 方法调用参数换行策略
ij_java_case_statement_on_separate_line = true # case 语句是否另起一行
ij_java_catch_on_new_line = false # catch 是否另起一行
ij_java_class_annotation_wrap = split_into_lines # 类注解换行策略
ij_java_class_brace_style = end_of_line # 类大括号风格
ij_java_class_names_in_javadoc = 3 # Javadoc 中类名的显示方式
ij_java_deconstruction_list_wrap = normal # 解构列表换行策略
ij_java_do_not_indent_top_level_class_members = false # 是否不对顶级类成员进行缩进
ij_java_do_not_wrap_after_single_annotation = false # 单个注解后是否不换行
ij_java_do_not_wrap_after_single_annotation_in_parameter = false # 参数中单个注解后是否不换行
ij_java_do_while_brace_force = always # do-while 语句大括号强制策略
ij_java_doc_add_blank_line_after_description = true # 是否在 /** 后开始到第一个 @tag 之间自动插入一个空行
ij_java_doc_add_blank_line_after_param_comments = false # 所有 JavaDoc 标签 (@param, @return, @throws) 紧密排列在一起
ij_java_doc_add_blank_line_after_return = false # 返回标签后是否添加空行
ij_java_doc_add_p_tag_on_empty_lines = false # 空行是否添加 <p> 标签
ij_java_doc_align_exception_comments = true # 是否让 @throws(或 @exception)标签后的说明对齐
ij_java_doc_align_param_comments = true # 是否让 @param 标签后面的参数描述对齐
ij_java_doc_do_not_wrap_if_one_line = true # 单行时不换行
ij_java_doc_enable_formatting = true # 是否启用文档格式化
ij_java_doc_enable_leading_asterisks = true # 是否启用前导星号
ij_java_doc_indent_on_continuation = false # 续行时是否缩进
ij_java_doc_keep_empty_lines = true # 是否保留空行
ij_java_doc_keep_empty_parameter_tag = true # 是否保留空的参数标签
ij_java_doc_keep_empty_return_tag = true # 是否保留空的返回标签
ij_java_doc_keep_empty_throws_tag = true # 是否保留空的异常标签
ij_java_doc_keep_invalid_tags = true # 是否保留无效标签
ij_java_doc_param_description_on_new_line = false # 参数描述是否另起一行
ij_java_doc_preserve_line_breaks = true # 是否保留换行符
ij_java_doc_use_throws_not_exception_tag = true # 使用 @throws 而不是 @exception
ij_java_else_on_new_line = false # else 是否另起一行
ij_java_entity_dd_prefix = # 实体 DD 前缀
ij_java_entity_dd_suffix = EJB # 实体 DD 后缀
ij_java_entity_eb_prefix = # 实体 EB 前缀
ij_java_entity_eb_suffix = Bean # 实体 EB 后缀
ij_java_entity_hi_prefix = # 实体 HI 前缀
ij_java_entity_hi_suffix = Home # 实体 HI 后缀
ij_java_entity_lhi_prefix = Local # 实体 LHI 前缀
ij_java_entity_lhi_suffix = Home # 实体 LHI 后缀
ij_java_entity_li_prefix = Local # 实体 LI 前缀
ij_java_entity_li_suffix = # 实体 LI 后缀
ij_java_entity_pk_class = java.lang.String # 实体主键类
ij_java_entity_ri_prefix = # 实体 RI 前缀
ij_java_entity_ri_suffix = # 实体 RI 后缀
ij_java_entity_vo_prefix = # 实体 VO 前缀
ij_java_entity_vo_suffix = VO # 实体 VO 后缀
ij_java_enum_constants_wrap = off # 枚举常量换行策略
ij_java_extends_keyword_wrap = normal # extends 关键字换行策略
ij_java_extends_list_wrap = normal # 继承列表换行策略
ij_java_field_annotation_wrap = split_into_lines # 字段注解换行策略
ij_java_field_name_prefix = # 字段名前缀
ij_java_field_name_suffix = # 字段名后缀
ij_java_filter_class_prefix = # 过滤器类前缀
ij_java_filter_class_suffix = # 过滤器类后缀
ij_java_filter_dd_prefix = # 过滤器 DD 前缀
ij_java_filter_dd_suffix = # 过滤器 DD 后缀
ij_java_finally_on_new_line = false # finally 是否另起一行
ij_java_for_brace_force = always # for 语句大括号强制策略
ij_java_for_statement_new_line_after_left_paren = true # for 语句左括号后是否换行
ij_java_for_statement_right_paren_on_new_line = true # for 语句右括号前是否换行
ij_java_for_statement_wrap = normal # for 语句换行策略
ij_java_generate_final_locals = false # 是否生成 final 局部变量
ij_java_generate_final_parameters = false # 是否生成 final 参数
ij_java_if_brace_force = always # if 语句大括号强制策略
ij_java_indent_case_from_switch = true # case 是否从 switch 缩进
ij_java_insert_inner_class_imports = false # 是否插入内部类导入
ij_java_insert_override_annotation = true # 是否插入 @Override 注解
ij_java_keep_blank_lines_before_right_brace = 0 # 右大括号前保留的空行数
ij_java_keep_blank_lines_between_package_declaration_and_header = 1 # 控制package声明和类/接口/枚举开始之间的最大空行数，0-紧贴类声明没有空行 1-在package和类之间保留1个空行 2-保留2个空行
ij_java_keep_blank_lines_in_code = 1 # 在普通代码(方法体、语句之间)里，最多保留多少个连续的空行
ij_java_keep_blank_lines_in_declarations = 1 # 控制 方法、类、接口、枚举内部的连续空行数 0-所有空行会被压缩不允许有空行 1-声明内部最多保留1个空行 2-声明内部最多保留2个空行
ij_java_keep_builder_methods_indents = true # 是否保持构建器方法缩进
ij_java_keep_control_statement_in_one_line = false # 控制语句是否保持在一行
ij_java_keep_first_column_comment = true # 保持所有在第 1 列(无缩进)的注释不移动
ij_java_keep_indents_on_empty_lines = false # 空行是否保持缩进
ij_java_keep_line_breaks = true # 是否保持换行符
ij_java_keep_multiple_expressions_in_one_line = false # 多个表达式是否保持在一行
ij_java_keep_simple_blocks_in_one_line = false # 简单块是否保持在一行
ij_java_keep_simple_classes_in_one_line = false # 简单类是否保持在一行
ij_java_keep_simple_lambdas_in_one_line = true # 简单 lambda 是否保持在一行
ij_java_keep_simple_methods_in_one_line = false # 简单方法是否保持在一行
ij_java_label_indent_absolute = false # 标签缩进是否绝对
ij_java_label_indent_size = 0 # 标签缩进大小
ij_java_lambda_brace_style = end_of_line # Lambda 大括号风格
ij_java_layout_static_imports_separately = true # 是否单独布局静态导入
ij_java_line_comment_add_space = false # 在输入行注释 // 时，是否自动在后面加一个空格
ij_java_line_comment_add_space_on_reformat = true # 是否会在已有的行注释后自动补空格
ij_java_line_comment_at_first_column = false # 控制是否让所有 // 行注释强制顶格(第一列)对齐
ij_java_listener_class_prefix = # 监听器类前缀
ij_java_listener_class_suffix = # 监听器类后缀
ij_java_local_variable_name_prefix = # 局部变量名前缀
ij_java_local_variable_name_suffix = # 局部变量名后缀
ij_java_message_dd_prefix = # 消息 DD 前缀
ij_java_message_dd_suffix = EJB # 消息 DD 后缀
ij_java_message_eb_prefix = # 消息 EB 前缀
ij_java_message_eb_suffix = Bean # 消息 EB 后缀
ij_java_method_annotation_wrap = split_into_lines # 方法注解换行策略
ij_java_method_brace_style = end_of_line # 方法大括号风格
ij_java_method_call_chain_wrap = on_every_item # 方法链调用，每个方法单独一行(比如 stream().filter()...map())
ij_java_method_parameters_new_line_after_left_paren = false # 控制方法声明参数左括号 ( 后是否换行的选项。
ij_java_method_parameters_right_paren_on_new_line = false # 方法参数右括号是否另起一行
ij_java_method_parameters_wrap = off # 方法参数换行策略
ij_java_modifier_list_wrap = false # 修饰符列表是否换行
ij_java_multi_catch_types_wrap = normal # 多 catch 类型换行策略
ij_java_names_count_to_use_import_on_demand = 100 # 使用 import * 的名称计数
ij_java_new_line_after_lparen_in_annotation = true # 注解左括号后是否换行
ij_java_new_line_after_lparen_in_deconstruction_pattern = true # 解构模式左括号后是否换行
ij_java_new_line_after_lparen_in_record_header = true # 记录头左括号后是否换行
ij_java_imports_layout = java.**, javax.**, |, *, |, $* # 导入布局
ij_java_packages_to_use_import_on_demand = unset # 使用 import * 的包
ij_java_parameter_annotation_wrap = off # 参数注解换行策略
ij_java_parameter_name_prefix = # 参数名前缀
ij_java_parameter_name_suffix = # 参数名后缀
ij_java_parentheses_expression_new_line_after_left_paren = true # 括号表达式左括号后是否换行
ij_java_parentheses_expression_right_paren_on_new_line = true # 括号表达式右括号前是否换行
ij_java_place_assignment_sign_on_next_line = true # 赋值符号是否放在下一行
ij_java_prefer_longer_names = true # 是否优先使用更长的名称
ij_java_prefer_parameters_wrap = true # 是否优先参数换行
ij_java_record_components_wrap = normal # 记录组件换行策略
ij_java_repeat_synchronized = true # 是否重复 synchronized
ij_java_replace_instanceof_and_cast = false # 是否替换 instanceof 和转换
ij_java_replace_null_check = true # 是否替换 null 检查
ij_java_replace_sum_lambda_with_method_ref = true # 是否用方法引用替换求和 lambda
ij_java_resource_list_new_line_after_left_paren = true # 资源列表左括号后是否换行
ij_java_resource_list_right_paren_on_new_line = true # 资源列表右括号前是否换行
ij_java_resource_list_wrap = normal # 资源列表换行策略
ij_java_rparen_on_new_line_in_annotation = true # 注解右括号是否另起一行
ij_java_rparen_on_new_line_in_deconstruction_pattern = true # 解构模式右括号是否另起一行
ij_java_rparen_on_new_line_in_record_header = true # 记录头右括号是否另起一行
ij_java_servlet_class_prefix = # Servlet 类前缀
ij_java_servlet_class_suffix = # Servlet 类后缀
ij_java_servlet_dd_prefix = # Servlet DD 前缀
ij_java_servlet_dd_suffix = # Servlet DD 后缀
ij_java_session_dd_prefix = # Session DD 前缀
ij_java_session_dd_suffix = EJB # Session DD 后缀
ij_java_session_eb_prefix = # Session EB 前缀
ij_java_session_eb_suffix = Bean # Session EB 后缀
ij_java_session_hi_prefix = # Session HI 前缀
ij_java_session_hi_suffix = Home # Session HI 后缀
ij_java_session_lhi_prefix = Local # Session LHI 前缀
ij_java_session_lhi_suffix = Home # Session LHI 后缀
ij_java_session_li_prefix = Local # Session LI 前缀
ij_java_session_li_suffix = # Session LI 后缀
ij_java_session_ri_prefix = # Session RI 前缀
ij_java_session_ri_suffix = # Session RI 后缀
ij_java_session_si_prefix = # Session SI 前缀
ij_java_session_si_suffix = Service # Session SI 后缀
ij_java_space_after_closing_angle_bracket_in_type_argument = false # 类型参数中闭合尖括号后是否添加空格
ij_java_space_after_colon = true # 冒号后是否添加空格
ij_java_space_after_comma = true # 逗号后是否添加空格
ij_java_space_after_comma_in_type_arguments = true # 类型参数中逗号后是否添加空格
ij_java_space_after_for_semicolon = true # for 语句分号后是否添加空格
ij_java_space_after_quest = true # 问号后是否添加空格
ij_java_space_after_type_cast = true # 类型转换后是否添加空格
ij_java_space_before_annotation_array_initializer_left_brace = false # 注解数组初始化左大括号前是否添加空格
ij_java_space_before_annotation_parameter_list = false # 注解参数列表前是否添加空格
ij_java_space_before_array_initializer_left_brace = false # 控制数组初始化时左花括号 { 前是否添加空格
ij_java_space_before_catch_keyword = true # catch 关键字前是否添加空格
ij_java_space_before_catch_left_brace = true # catch 左大括号前是否添加空格
ij_java_space_before_catch_parentheses = true # catch 括号前是否添加空格
ij_java_space_before_class_left_brace = true # 类左大括号前是否添加空格
ij_java_space_before_colon = true # 冒号前是否添加空格
ij_java_space_before_colon_in_foreach = true # foreach 中冒号前是否添加空格
ij_java_space_before_comma = false # 逗号前是否添加空格
ij_java_space_before_deconstruction_list = false # 解构列表前是否添加空格
ij_java_space_before_do_left_brace = true # do 左大括号前是否添加空格
ij_java_space_before_else_keyword = true # else 关键字前是否添加空格
ij_java_space_before_else_left_brace = true # else 左大括号前是否添加空格
ij_java_space_before_finally_keyword = true # finally 关键字前是否添加空格
ij_java_space_before_finally_left_brace = true # finally 左大括号前是否添加空格
ij_java_space_before_for_left_brace = true # for 左大括号前是否添加空格
ij_java_space_before_for_parentheses = true # for 括号前是否添加空格
ij_java_space_before_for_semicolon = false # for 语句分号前是否添加空格
ij_java_space_before_if_left_brace = true # if 左大括号前是否添加空格
ij_java_space_before_if_parentheses = true # if 括号前是否添加空格
ij_java_space_before_method_call_parentheses = false # 方法调用括号前是否添加空格
ij_java_space_before_method_left_brace = true # 方法左大括号前是否添加空格
ij_java_space_before_method_parentheses = false # 方法声明括号前是否添加空格
ij_java_space_before_opening_angle_bracket_in_type_parameter = false # 类型参数中开尖括号前是否添加空格
ij_java_space_before_quest = true # 问号前是否添加空格
ij_java_space_before_switch_left_brace = true # switch 左大括号前是否添加空格
ij_java_space_before_switch_parentheses = true # switch 括号前是否添加空格
ij_java_space_before_synchronized_left_brace = true # synchronized 左大括号前是否添加空格
ij_java_space_before_synchronized_parentheses = true # synchronized 括号前是否添加空格
ij_java_space_before_try_left_brace = true # try 左大括号前是否添加空格
ij_java_space_before_try_parentheses = true # try 括号前是否添加空格
ij_java_space_before_type_parameter_list = false # 类型参数列表前是否添加空格
ij_java_space_before_while_keyword = true # while 关键字前是否添加空格
ij_java_space_before_while_left_brace = true # while 左大括号前是否添加空格
ij_java_space_before_while_parentheses = true # while 括号前是否添加空格
ij_java_space_inside_one_line_enum_braces = false # 单行枚举大括号内是否添加空格
ij_java_space_within_empty_array_initializer_braces = false # 控制空数组初始化时 {} 内是否添加空格
ij_java_space_within_empty_method_call_parentheses = false # 空方法调用括号内是否添加空格
ij_java_space_within_empty_method_parentheses = false # 空方法声明括号内是否添加空格
ij_java_spaces_around_additive_operators = true # 加法运算符周围是否添加空格
ij_java_spaces_around_annotation_eq = true # 注解等号周围是否添加空格
ij_java_spaces_around_assignment_operators = true # 赋值运算符周围是否添加空格
ij_java_spaces_around_bitwise_operators = true # 位运算符周围是否添加空格
ij_java_spaces_around_equality_operators = true # 相等运算符周围是否添加空格
ij_java_spaces_around_lambda_arrow = true # Lambda 箭头周围是否添加空格
ij_java_spaces_around_logical_operators = true # 逻辑运算符周围是否添加空格
ij_java_spaces_around_method_ref_dbl_colon = false # 方法引用双冒号周围是否添加空格
ij_java_spaces_around_multiplicative_operators = true # 乘法运算符周围是否添加空格
ij_java_spaces_around_relational_operators = true # 关系运算符周围是否添加空格
ij_java_spaces_around_shift_operators = true # 移位运算符周围是否添加空格
ij_java_spaces_around_type_bounds_in_type_parameters = true # 类型参数中的类型界限周围是否添加空格
ij_java_spaces_around_unary_operator = false # 一元运算符周围是否添加空格
ij_java_spaces_within_angle_brackets = false # 尖括号内是否添加空格
ij_java_spaces_within_annotation_parentheses = false # 注解括号内是否添加空格
ij_java_spaces_within_array_initializer_braces = false # 控制非空数组初始化时 {} 内部 , 之后是否添加空格
ij_java_spaces_within_braces = false # 大括号内是否添加空格
ij_java_spaces_within_brackets = false # 方括号内是否添加空格
ij_java_spaces_within_cast_parentheses = false # 类型转换括号内是否添加空格
ij_java_spaces_within_catch_parentheses = false # catch 括号内是否添加空格
ij_java_spaces_within_deconstruction_list = false # 解构列表内是否添加空格
ij_java_spaces_within_for_parentheses = false # for 括号内是否添加空格
ij_java_spaces_within_if_parentheses = false # if 括号内是否添加空格
ij_java_spaces_within_method_call_parentheses = false # 方法调用括号内是否添加空格
ij_java_spaces_within_method_parentheses = false # 方法声明括号内是否添加空格
ij_java_spaces_within_parentheses = false # 括号内是否添加空格
ij_java_spaces_within_record_header = false # 记录头内是否添加空格
ij_java_spaces_within_switch_parentheses = false # switch 括号内是否添加空格
ij_java_spaces_within_synchronized_parentheses = false # synchronized 括号内是否添加空格
ij_java_spaces_within_try_parentheses = false # try 括号内是否添加空格
ij_java_spaces_within_while_parentheses = false # while 括号内是否添加空格
ij_java_special_else_if_treatment = true # 特殊的 else-if 处理
ij_java_static_field_name_prefix = # 静态字段名前缀
ij_java_static_field_name_suffix = # 静态字段名后缀
ij_java_subclass_name_prefix = # 子类名前缀
ij_java_subclass_name_suffix = Impl # 子类名后缀
ij_java_ternary_operation_signs_on_next_line = true # 三元运算符符号是否放在下一行
ij_java_ternary_operation_wrap = on_every_item # 三元运算符换行策略
ij_java_test_name_prefix = # 测试名前缀
ij_java_test_name_suffix = Test # 测试名后缀
ij_java_throws_keyword_wrap = normal # throws 关键字换行策略
ij_java_throws_list_wrap = normal # throws 列表换行策略
ij_java_use_external_annotations = false # 是否使用外部注解
ij_java_use_fq_class_names = false # 是否使用完全限定类名
ij_java_use_relative_indents = false # 是否使用相对缩进
ij_java_use_single_class_imports = true # 是否使用单一类导入
ij_java_variable_annotation_wrap = split_into_lines # 变量注解换行策略
ij_java_visibility = public # 可见性
ij_java_while_brace_force = always # while 语句大括号强制策略
ij_java_while_on_new_line = false # while 是否另起一行
ij_java_wrap_comments = false # 当注释太长超过右边界(Right Margin)时，IDEA 是否自动换行
ij_java_wrap_first_method_in_call_chain = false # 调用链中第一个方法是否换行
ij_java_wrap_long_lines = true # 是否换行长行

[.editorconfig]
ij_editorconfig_align_group_field_declarations = false # 是否让类中的属性声明按对齐格式化
ij_editorconfig_space_before_colon = false # 是否在冒号前加空格
ij_editorconfig_space_after_colon = false # 是否在冒号后加空格
ij_editorconfig_space_before_comma = false # 是否在逗号前加空格
ij_editorconfig_space_after_comma = true # 是否在逗号后加空格
ij_editorconfig_spaces_around_assignment_operators = true # 是否在赋值运算符 = 两边加空格
